<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iot.dao.DeviceMapper">
    <resultMap id="BaseResultMap" type="com.iot.model.Device">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="CHAR"/>
        <result column="description" property="description" jdbcType="CHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="systemId" property="systemId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, description, status, createTime, updateTime, systemId
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from device
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryDeviceBySystemId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from device
        where systemId = #{systemId,jdbcType=INTEGER}
    </select>
    <select id="queryAllDevice_Admin" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from device
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from device
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.iot.model.Device">
    insert into device (id, name, description,
      createTime, status, systemId
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{description,jdbcType=CHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{systemId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.iot.model.acceptParam.DeviceParam">
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="systemId != null">
                systemId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=CHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=CHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="systemId != null">
                #{systemId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.iot.model.acceptParam.DeviceParam">
        update device
        <set>
            <if test="name != null">
                name = #{name,jdbcType=CHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=CHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.iot.model.Device">
    update device
    set name = #{name,jdbcType=CHAR},
      description = #{description,jdbcType=CHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      systemId = #{systemId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>