<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iot.dao.ImgDataMapper">
    <resultMap id="BaseResultMap" type="com.iot.model.ImgData">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="img" property="img" jdbcType="CHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="sensorId" property="sensorId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, img, createTime, updateTime, sensorId
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from imgdata
        where id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="queryImgBySensorId" resultMap="BaseResultMap"
            parameterType="com.iot.model.acceptParam.DataConditionParam">
        select
        <include refid="Base_Column_List"/>
        from imgdata
        where sensorId = #{sensorId,jdbcType=INTEGER} and createTime between #{startTime,jdbcType=INTEGER} and
        #{endTime,jdbcType=INTEGER}
        order by id DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from imgdata
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteImgs" parameterType="java.lang.Integer">
        delete from imgdata
        where id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.iot.model.ImgData">
    insert into imgdata (id, createTime, updateTime, 
      sensorId, img)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{sensorId,jdbcType=INTEGER}, #{img,jdbcType=LONGVARBINARY})
  </insert>
    <insert id="insertSelective" parameterType="com.iot.model.ImgData">
        insert into imgdata
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sensorId != null">
                sensorId,
            </if>
            <if test="img != null">
                img,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sensorId != null">
                #{sensorId,jdbcType=INTEGER},
            </if>
            <if test="img != null">
                #{img,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.iot.model.ImgData">
        update imgdata
        <set>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sensorId != null">
                sensorId = #{sensorId,jdbcType=INTEGER},
            </if>
            <if test="img != null">
                img = #{img,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.iot.model.ImgData">
    update imgdata
    set createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      sensorId = #{sensorId,jdbcType=INTEGER},
      img = #{img,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.iot.model.ImgData">
    update imgdata
    set createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      sensorId = #{sensorId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>