<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iot.dao.OperationMapper">
    <resultMap id="BaseResultMap" type="com.iot.model.Operation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="word" property="word" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, word
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from operation
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryAllOperationType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from operation
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from operation
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteOperationType_Admin" parameterType="java.lang.Integer">
        delete from operation where 1>2
        or id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.iot.model.Operation">
    insert into operation (word)
    values (#{word,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.iot.model.Operation">
        insert into operation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="word != null">
                word,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="word != null">
                #{word,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.iot.model.Operation">
        update operation
        <set>
            <if test="word != null">
                word = #{word,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.iot.model.Operation">
    update operation
    set word = #{word,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>